body {
  background-color: black;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 15px 50px;
}


.logo h1 {
  font-size: 28px;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}

.logo h1 span {
  color: red;
}

.logo p {
  font-size: 14px;
  color: #d32f2f;
  margin-top: -5px;
}


.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #d32f2f;
}


.btn-outline {
  border: 1px solid white;
  padding: 8px 18px;
  border-radius: 25px;
}

.btn-red {
  background-color: #e60023;
  padding: 8px 18px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.head1 {
  color: white;
  word-spacing: 30px;
  font-size: 20px;
  font-weight: lighter;
}


.button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  margin-left: 40px;
}

.button:hover {
  background-color: red;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.button2:hover {
  background-color: red;
  color: white;
}


.img1 img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}


.cont1 {
  color: white;
  font-size: 340%;
  text-align: center;
  margin-top: 1%;
  font-weight: 100px;
}

.cont2 {
  color: white;
  font-size: 260%;
  text-align: center;
  s font-weight: 20px;
  padding-top: 0%;
}

.cont3 {
  color: grey;
  text-align: center;

}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 0%;
  padding-top: 20px;
}

.images img {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding-bottom: 50px;
  padding-top: 20px;
}

.buttons button {
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 12px 40px;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.buttons button:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.cont4 {
  color: white;
  text-align: center;
  font-size: 340%;
  font-weight: lighter;
  padding-top: 100px;
  margin-bottom: 0%;

}

.cont5 {
  color: white;
  text-align: center;
  font-size: 300%;
  margin-top: 1%;
  margin-bottom: 0%;
}

.cont6 {
  color: gray;
  text-align: center;
  margin-top: 1%;

}

.cont7 {
  color: red;
  letter-spacing: 4px;
  font-size: 23px;
  margin-left: 70px;
  font-weight: lighter;
  margin-top: 50px;

}

.img1 {
  position: absolute;
  top: 1000px;
  left: 400px;
  width: 800px;
  height: 0%;
  padding-bottom: 900px;
}

.conts8 {
  color: white;
  margin-left: 29px;
}

.img2 {
  position: relative;
  top: 0px;
  width: 600px;
  height: 0%;
  padding-bottom: 0px;

}

.cont9 {
  position: relative;
  top: 250px;
  left: 530px;
  letter-spacing: 4px;
  font-size: 23px;
  margin-left: 70px;
  font-weight: lighter;
  padding-top: 400px;
  color: red;
}

.cont10 {
  position: relative;
  top: 240px;
  left: 600px;
  color: white;
  font-size: 40px;
}

.cont11 {
  position: relative;
  top: 240px;
  left: 600px;
  color: grey;

}

.cont12 {
  color: grey;
  position: relative;
  top: 240px;
  left: 600px;
}

.franchise-section {
  text-align: center;
  padding: 50px 20px;
}

.franchise-section h1 {
  font-size: 50px;
  font-weight: bold;
}

.franchise-section h2 {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.franchise-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.franchise-card {
  background-color: black;
  width: 350px;
  text-align: center;
  border-radius: 8px;
  padding-bottom: 25px;
}

.franchise-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.franchise-card .city {
  color: red;
  letter-spacing: 3px;
  margin-top: 20px;
}

.franchise-card h3 {
  font-size: 24px;
  margin: 10px 0;
}

.franchise-card span {
  font-weight: normal;
}

.franchise-card p {
  font-size: 15px;
  margin: 8px 0;
  color: #ccc;
}

.franchise-card i {
  color: white;
  margin-right: 5px;
}


.franchise-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.franchise-btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

.franchise-section h2 {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.franchise-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.franchise-card {
  background-color: black;
  width: 350px;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 30px;
}

.franchise-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.franchise-card .city {
  color: red;
  letter-spacing: 3px;
  margin-top: 20px;
}

.franchise-card h3 {
  font-size: 24px;
  margin: 10px 0;
}

.franchise-card span {
  font-weight: normal;
}

.franchise-card p {
  font-size: 15px;
  margin: 8px 0;
  color: #ccc;
}

.franchise-card i {
  color: white;
  margin-right: 6px;
}


.franchise-btn {
  background-color: transparent;
  color: white;
  border: 1.5px solid white;
  padding: 12px 25px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.franchise-btn i {
  margin-left: 8px;
  color: red;
}

.franchise-btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

.village-section {
  text-align: center;
  padding: 50px 20px;
}

.village-section h1 {
  font-size: 50px;
  font-weight: bold;
}

.village-section h2 {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 50px;
}


.village-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}


.village-image img {
  width: 650px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}


.village-content {
  max-width: 500px;
  text-align: left;
}

.city {
  color: red;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.village-content h3 {
  font-size: 30px;
  margin: 5px 0 15px 0;
}

.village-content span {
  font-weight: normal;
}

.village-content p {
  color: #ccc;
  font-size: 16px;
  margin: 8px 0;
}

.village-content i {
  color: white;
  margin-right: 8px;
}


.village-btn {
  background-color: #00b050;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.village-btn i {
  margin-left: 10px;
  color: white;
}

.village-btn:hover {
  background-color: white;
  color: #00b050;
  transform: scale(1.05);
}

.franchise-section {
  padding: 50px 20px;
}


.main-title {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.sub-title {
  font-size: 2rem;
  font-weight: 600;
}

.sub-title span {
  color: #fff;
  font-weight: 400;
}


.franchise-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
  justify-items: center;
}


.card {
  background: #fff;
  color: #000;
  width: 300px;
  border-radius: 10px;
  padding: 30px 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.pin {
  font-size: 2rem;
  color: red;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 10px 0 5px;
}

.title span {
  font-weight: 400;
}

.location {
  margin-top: 10px;
  font-size: 1.1rem;
  line-height: 1.4;
}


@media (max-width: 900px) {
  .franchise-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .franchise-container {
    grid-template-columns: 1fr;
  }
}

.footer {
  background: #111;
  color: white;
  padding: 60px 50px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.footer-about {
  width: 30%;
}

.footer-about .logo {
  width: 180px;
  margin-bottom: 20px;
}

.footer-about p {
  color: #ccc;
  line-height: 1.7;
  font-size: 15px;
}

.links-small a {
  color: #ccc;
  margin-right: 15px;
  font-size: 14px;
  text-decoration: none;
}


.footer-links h3 {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 15px;
}


.footer-contact h3,
.footer-contact h4 {
  margin-bottom: 5px;
}

.footer-contact p {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 15px;
}


.footer-social h3 {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.social-icons .icon {
  width: 40px;
  height: 40px;
  background: #d60000;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.store-btn {
  width: 150px;
  margin: 10px 0;
}


.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid #333;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #bbb;
}